<form [formGroup]="signUpFormGroup" (ngSubmit)="onSubmit()" class="sign-up-form">

    <section class="sign-up-form__header">
        <h2 class="sign-up-form__header-title">Create Account</h2>

        <p class="sign-up-form__header-text">
            If you're already a member of Dunno, you don't need to create an account. Just log in with your credentials.
        </p>
    </section>

    <section class="sign-up-form__section">
        <h2 class="sign-up-form__section-title">Personal Information</h2>

        <div class="sign-up-form__row">
            <div class="sign-up-form__group">
                <label for="firstName" class="sign-up-form__label">First name</label>
                <input formControlName="firstName" id="firstName" type="text" placeholder="Enter first name"
                    class="sign-up-form__field" />
                @if (signUpFormGroup.get('firstName')?.hasError('required') &&
                signUpFormGroup.get('firstName')?.touched) {
                <span class="sign-up-form__error">First name is required</span>
                }
            </div>
            <div class="sign-up-form__group">
                <label for="middleName" class="sign-up-form__label">Middle name</label>
                <input formControlName="middleName" id="middleName" type="text" placeholder="Enter middle name"
                    class="sign-up-form__field" />
            </div>
        </div>

        <div class="sign-up-form__group">
            <label for="lastName" class="sign-up-form__label">Last name</label>
            <input formControlName="lastName" id="lastName" type="text" placeholder="Enter last name"
                class="sign-up-form__field" />
            @if (signUpFormGroup.get('lastName')?.hasError('required') && signUpFormGroup.get('lastName')?.touched) {
            <span class="sign-up-form__error">Last name is required</span>
            }
        </div>

        <div class="sign-up-form__group">
            <label for="gender" class="sign-up-form__label">Gender</label>
            <select formControlName="gender" id="gender" class="sign-up-form__field">
                @for (gender of genders; track gender) {
                <option [value]="gender">{{gender}}</option>
                }
            </select>
            @if (signUpFormGroup.get('gender')?.hasError('required') && signUpFormGroup.get('gender')?.touched) {
            <span class="sign-up-form__error">Gender is required</span>
            }
        </div>

    </section>
    <section class="sign-up-form__section">
        <h2 class="sign-up-form__section-title">Sign In Information</h2>

        <div class="sign-up-form__group">
            <label for="email" class="sign-up-form__label">Email</label>
            <input formControlName="email" id="email" type="email" placeholder="Enter email"
                class="sign-up-form__field" />
            @if (signUpFormGroup.get('email')?.hasError('required') && signUpFormGroup.get('email')?.touched) {
            <span class="sign-up-form__error">Email is required</span>
            }
            @if (signUpFormGroup.get('email')?.hasError('email') && signUpFormGroup.get('email')?.touched) {
            <span class="sign-up-form__error">Invalid email format</span>
            }
        </div>

        <div class="sign-up-form__group">
            <label for="password" class="sign-up-form__label">Password</label>
            <input formControlName="password" id="password" type="password" placeholder="Enter password"
                class="sign-up-form__field" />
            @if (signUpFormGroup.get('password')?.hasError('required') && signUpFormGroup.get('password')?.touched) {
            <span class="sign-up-form__error">Password is required</span>
            }

            <div class="sign-up-form__requirements">
                <p class="sign-up-form__requirements-detail">Password requirements:</p>
                <ul>
                    <li [ngClass]="{'sign-up-form__requirement--valid': !signUpFormGroup.get('password')?.hasError('minlength')}"
                        class="sign-up-form__requirement sign-up-form__requirement--invalid">Password must be at least 8
                        characters</li>
                    <li [ngClass]="{'sign-up-form__requirement--valid': !signUpFormGroup.get('password')?.hasError('noUpperCase')}"
                        class="sign-up-form__requirement sign-up-form__requirement--invalid">Password must contain at
                        least one uppercase letter</li>
                    <li [ngClass]="{'sign-up-form__requirement--valid': !signUpFormGroup.get('password')?.hasError('noLowerCase')}"
                        class="sign-up-form__requirement sign-up-form__requirement--invalid">Password must contain at
                        least one lowercase letter</li>
                    <li [ngClass]="{'sign-up-form__requirement--valid': !signUpFormGroup.get('password')?.hasError('noNumber')}"
                        class="sign-up-form__requirement sign-up-form__requirement--invalid">Password must contain at
                        least one number</li>
                    <li [ngClass]="{'sign-up-form__requirement--valid': !signUpFormGroup.get('password')?.hasError('noSpecialCharacter')}"
                        class="sign-up-form__requirement sign-up-form__requirement--invalid">Password must contain at
                        least one special character @$!%*?&</li>
                </ul>

            </div>

        </div>
        <div class="sign-up-form__group">
            <label for="confirmPassword" class="sign-up-form__label">Confirm Password</label>
            <input formControlName="confirmPassword" id="confirmPassword" type="password"
                placeholder="Enter password again" class="sign-up-form__field" />

            @if (signUpFormGroup.get('confirmPassword')?.hasError('required') &&
            signUpFormGroup.get('confirmPassword')?.touched) {
            <span class="sign-up-form__error">Confirm password is required</span>
            }

            @if (signUpFormGroup.hasError('passwordMismatch') && signUpFormGroup.get('confirmPassword')?.touched) {
            <span class="sign-up-form__error">Passwords do not match</span>
            }
        </div>
    </section>

    <button type="submit" class="sign-up-form__submit" [disabled]="signUpFormGroup.invalid">Sign Up</button>
    <a href="/auth/sign-in">I have an account</a>
</form>